.BookArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.BookArea h3 {
  color: aliceblue;
  padding-top: 10%;
}

.Pagination + .BookArea h3 {
  padding-top: 5%;
}
