.Book {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 33%;
  padding: 10px 0 10px 0;
}

.thumbnail {
  width: 140px;
  height: 200px;
  border-radius: 15px;
}

.text {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
}

.title {
  font-size: larger;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0 5px 0;
  margin: 0;
}

.title a {
  color: cornsilk;
  text-decoration: none;
}

.title a:hover {
  color: cornflowerblue;
}

.description {
  display: -webkit-box;
  white-space: break-spaces;
  color: aliceblue;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1200px) {
  .Book {
    width: 90%;
    margin-left: 10px;
  }
  .thumbnail {
    width: 120px;
    height: 180px;
  }
  .description,
  .title {
    padding-left: 10px;
    padding-right: 10px;
  }
  .title a:hover {
    color: cornsilk;
  }
}

@media screen and (max-width: 400px) {
  .thumbnail {
    width: 100px;
    height: 160px;
  }
  .description,
  .title {
    font-size: smaller;
  }
  .text {
    margin-top: 10px;
  }
  .Book {
    padding: 0;
    height: 180px;
  }
}
